fastapi>=0.109.0  # API REST
uvicorn>=0.27.0  # Serveur ASGI pour FastAPI
python-multipart>=0.0.20  # Support des fichiers uploadés
python-docx>=1.0.0  # Manipulation de documents Word
pandas>=2.0.0  # Traitement de données
Pillow>=10.0.0  # Traitement d'image
pytesseract>=0.3.10  # OCR pour l'extraction de texte
python-magic>=0.4.27  # Détection du type de fichier (multi-plateforme)
python-dateutil>=2.8.2  # Traitement des dates
reportlab>=4.0.0  # Génération de PDF